body{ background-image:url(../fondos/16.gif) ; 
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    ;)



}


body:active{ background-image:url(../fondos/19.gif);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    ;)
}





}

html, body,

 #body1 {
    height: 80%;
    width: 80%;
    margin-left: 0px;
    position:absolute; 

}
#body1 {
    background-image: url("../gifs/29.gif");
}

#body1:active {
    background-image: url("../gifs/29.gif");
    width:62%;

}
#body3 {
    background-image: url("../gifs/29.gif");
}

#body3:active {
    background-image: url("../gifs/29.gif");}

#body3:hover{background-image: url(../gifs/29.gif);

}
#body2 {  background-image: url(../gifs/32.gif);
    height: 30%;
    width: 50%;
    padding-left: 500px;
    position: absolute;
    padding-top: 200px;

}
#body2:active {
    background-image: url("../gifs/33.gif");
margin-right: 100px;
}
#body3 {
	background-image: url(../gifs/18.gif);
	height: 100%;
	width: 100%;
    margin-right: -700px;
	position:absolute;
    margin-left: 700px;
    margin-top: -300px;

}
#body4 {
	background-image: url(../gifs/48.gif);
	height: 20%;
	width: 100%;

	position:absolute;
}
#body4 {
    background-image: url("../gifs/48.gif");
     margin-top: -250px;
}

#body4:active {
    background-image: url("../gifs/28.gif");
  
}




#link1 {
    padding-left: 500px;
}

#botones{
    margin-top: -230px;
}














/* boton transparente*/
#b01  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    cursor:pointer;
 position: absolute;
}
#b02  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-left: 600px;
    cursor:pointer;
 position: absolute;
}
#b03  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 200px;
    margin-left: 1000px;
    cursor:pointer;
 position: absolute;
}

#b04  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 400px;
    margin-left: 1000px;
    cursor:pointer;
 position: absolute;
}
#b05  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 400px;
    margin-left: 0px;
    cursor:pointer;
 position: absolute;
}
#b06  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 400px;
    margin-left: 300px;
    cursor:pointer;
 position: absolute;
}
#b07  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 400px;
    margin-left: 500px;
    cursor:pointer;
 position: absolute;
}
#b08  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 400px;
    margin-left: 700px;
    cursor:pointer;
 position: absolute;
}
#b09  {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 000px;
    margin-left: 900px;
    cursor:pointer;
 position: absolute;
}
#b10 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 100px;
    margin-left: 100px;
    cursor:pointer;
 position: absolute;
}
#b11 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 100px;
    margin-left: 300px;
    cursor:pointer;
 position: absolute;
}
#b12 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 200px;
    margin-left: 200px;
    cursor:pointer;
 position: absolute;
}
#b13 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 200px;
    margin-left: 400px;
    cursor:pointer;
 position: absolute;
}

#b14 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 570px;
    margin-left: 00px;
    cursor:pointer;
 position: absolute;
}
#b15 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 300px;
    margin-left: 475px;
    cursor:pointer;
 position: absolute;
}
#b16 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 200px;
    margin-left: 720px;
    cursor:pointer;
 position: absolute;
}
#b17 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 570px;
    margin-left: 460px;
    cursor:pointer;
 position: absolute;
}
#b18 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 400px;
    margin-left: 00px;
    cursor:pointer;
 position: absolute;
}
#b19 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 100px;
    margin-left: 1150px;
    cursor:pointer;
 position: absolute;
}

#b20 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 250px;
    margin-left: 0px;
    cursor:pointer;
 position: absolute;
}
#b21 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 450px;
    margin-left: 850px;
    cursor:pointer;
 position: absolute;
}
#b22 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 300px;
    margin-left: 1150px;
    cursor:pointer;
 position: absolute;
}
#b23 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 550px;
    margin-left: 1150px;
    cursor:pointer;
 position: absolute;
}
#b24 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 0px;
    margin-left: 350px;
    cursor:pointer;
 position: absolute;
}
#b25 {
    font-size: 0;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:100px;
    width:100px;
    margin-top: 550px;
    margin-left: 750px;
    cursor:pointer;
 position: absolute;
}