
body { 
	background-color:#CCC;
}

#contenedor {
	position:relative;
	width:640px;
	margin:0 auto;
	padding:1em 0;
}

.info {
	background-color:#999;
	padding:5px;
}

.info span {
	float:right;
}