body{
	color: #000;
	font: normal 100%/1.125 Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

#contenedor{
    width: 960px;
    margin: 0 0 0 20px;
}

h1{
	color: #000;
	font-size:2em;
	margin: 20px 0 10px 10px;
}

.links{
	width: 450px;
}

.links li{
	clear: both;
	overflow: hidden;
	padding: 20px 10px; 
	border-bottom: 1px dotted #666;
}

.links li.even{ 
	background: rgb(230,230,230); /* IE 7,8 */
	background: rgba(248,248,248,1);
	}

/* Tecnica "Titulo siempre primero" de materreni */

.links li a h2{


	cursor: pointer;
	padding-bottom: 0.625em;
}

.links li img{
	
	border: 7px solid #F0F0F0;
	border-color: rgb(240,240,240); /* IE 7,8 */
	border-color: rgba(255,255,255,1);
	-moz-box-shadow: 1px 1px 5px 0 #333;
	-webkit-box-shadow: 1px 1px 5px 0 #333;
	box-shadow: 1px 1px 5px 0 #333;
}

.links li.even img{
	border-color: rgb(255,255,255); /* IE 7,8 */
	border-color: rgba(255,255,255,1);
}

.links li p{


	padding-top: 0;
	font-size: 0.8125em;
	line-height: 1.3;
}

/* --------------------  */
/* ---- BLOCK LINKS ---  */





.links a:hover img, .links a:focus img{

}

.links a:hover h2, .links a:focus h2{

}

.links a:hover h2 span, .links a:focus h2 span{

}

.links a:focus img, .links a:focus h2{
	outline: 1px dotted #666;
}
